@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 1.125rem;
    overflow-x: hidden;
}

nav {
    background-color: #3B5FFF;
    position: sticky;
    top: 0;
}

.max-size {
    display: flex;
    flex-wrap: wrap;
    padding: 3vh;
    /* width: 100vw; */
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

@media (max-width: 768px) {
    /* add mobile responsiveness */
}

a {
    text-decoration: none;
}

nav h1 {
    margin: 0;
}

nav h1 *{
    font-size: 3rem;
    font-weight: 900;
    color: #ffffff;
}

.blue{
    color: #7796F2;
}

.darkest-blue{
    color: #3B5FFF;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    font-weight: 600;
    gap: 15px;
    padding: 0;
}

nav ul *{
    color: #7796F2;
    font-size: 1.25rem;
}

nav ul *:hover{
    color: #ffffff;
}

footer {
    width: 100%;
    background-color: #7796F2;
}

footer .credit {
    text-align: right;
}

footer * {
    color: #ffffff;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    margin: 20px 0;
}

.section1 {
    width: 100vw;
    max-width: 1200px;
    padding: 3vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
}

.section1 img {
    display: block;
    width: 100%;
    min-width: 350px;
    align-self: center;
    flex: 3;
}

.section1 div {
    display: block;
    width: 100%;
    min-width: 350px;
    align-self: center;
    flex: 2;
}